# Ignore all!
*

# Do not ignore:
!.gitignore
!LICENSE
!README.md
!SECURITY.md
!CHANGELOG.md

!/.github/
!/.github/**

!/.vscode/
!/.vscode/**

!/build/
!/build/**

###############################
#  Default Configuration Included

!/defaultconfigs/
!/defaultconfigs/**

###############################
#  World Included

!/saves/

!/saves/HelloWorld
!/saves/HelloWorld/**

# exlude player data
/saves/**/playerdata/
/saves/**/stats/
/saves/**/advancements/
/saves/**/session.lock
/saves/**/level.dat
/saves/**/level.dat_mcr
/saves/**/logs/
/saves/**/generated/
